<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceManager"
        tools:targetApi="31">
        <activity
            android:name=".attendancedetails"
            android:exported="false" />
        <activity
            android:name=".Viewstatic"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".viewsubject"
            android:exported="false" />
        <activity
            android:name=".manual"
            android:exported="false" />
        <activity
            android:name=".QR"
            android:exported="false" />
        <activity
            android:name=".lechome"
            android:exported="false" />
        <activity
            android:name=".addstudent"
            android:exported="false" />
        <activity
            android:name=".addsubject"
            android:exported="false" />
        <activity
            android:name=".adddetails"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".adminlogin1"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".loging"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>